*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #2E3047;
}
.topnav {
    background-color: #2E3047;
    overflow: hidden;
    font-family: poppins;
    line-height: 10vh;
}
.topnav a {
  float: left;
  color: #3BBA9C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav-right {
  float: right;
  margin-right: 5%;
  line-height: 10vh;
}
.logo{
	font-size: 1.5em;
	margin-left: 10%;
	cursor: context-menu;
	opacity: 0;
	animation: fade .5s ease-in forwards;
	animation-delay: 1s; 
}

.list{
	font-size: 1em;
	transition: .3s;
	opacity: 0;
	animation: fade .5s ease-in forwards;
	animation-delay: 1.5s; 
}
.list:hover{
	color: #f2f2f2;
}
.menu{
	visibility: hidden;
	opacity: 0;
	animation: fade .5s ease-in forwards;
	animation-delay: 3.5s; 
}
.container{
	height: 55vh;
	width: 100%;
	border: 0px solid red;
	display: flex;
}
.main-box1{
	height: 100%;
	width: 50%;
	border: 0px solid blue;
	order: 2;
	opacity: 0;
	animation: fade .5s ease-in forwards;
	animation-delay: 2s; 
}
.main-box2{
	height: 100%;
	width: 50%;
	border: 0px solid blue;
	order: 1;
}
.profile{
	height: 100%;
	width: 90%;
	height: 90%;
}
h2{
	font-family: poppins;
	font-weight: 500;
	font-size: 40px;
	color: #fff;
	margin-left: 22%;
	padding-top: 20%;
	opacity: 0;
	animation: fade .5s ease-in forwards;
	animation-delay: 2.5s; 
}
h3{
	font-family: poppins;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	margin-left: 22%;
	margin-top: 20px;
	opacity: 0;
	animation: fade .5s ease-in forwards;
	animation-delay: 1.8s; 
}
ul{
	list-style: none;
	font-family: poppins;
	font-weight: 500;
	font-size: 30px;
	color: #3BBA9C;
	margin-left: 22%;
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #3BBA9C;
  font-size: 30px;
  font-weight: 500;
}
.wrapper .dynamic-txts{
  margin-left: 22%;
  height: 90px;
  line-height: 1;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #3BBA9C;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
  opacity: 0;
  animation: fade .5s ease-in forwards;	
  animation-delay: 3s; 
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2E3047;
  border-left: 2px solid #3BBA9C;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
@keyframes fade {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
main{
	background-color:  #797ca3;
	height: auto;
	width: 100%;
}
.description{
	font-family: poppins;
	font-weight: 500;
	font-size: 1.2em;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	color: #f4f4f4; 
}
.description-title{
	font-family: poppins;
	font-weight: 500;
	font-size: 2em;
	color: #3BBA9C;
	text-align: center;
	margin-top: 100px;
}
.wanna{
	font-family: poppins;
	font-size: 15px;
	color:  #797ca3;
	margin-left: 30px;
	padding-bottom: 20px;
}
.wanna2{
	font-family: poppins;
	font-size: 25px;
	color:  #797ca3;
	margin-left: 30px;
	padding-bottom: 20px;
}
.top-foot{
	padding-top: 2%;
}
#strong{
	color: #fff;
	text-decoration: underline;
	text-decoration-color: #3BBA9C;
}