@media screen and (max-width: 600px){
	.logo{
		font-size: 1.5em;
		margin-left: 5%;
	}
	.list{
		visibility: hidden;
	}
	.topnav{
		border: 0px solid red;
		height: 14vh;
	}
	.menu{
		position: absolute;
		visibility: visible;
		border: 0px solid red;
		width: 62%;
		text-align: right;
	}
	.main{
		width: 90%;
	}
	.exp-box{
		width: 90%;
	}
	.comment-box{
		width: 90%;
	}
	h4{
		font-size: 2em;
		margin-left: 5%;
	}
	.certificates{
		height: 30vh;
	}
	.cert-text{
		font-size: 12px;
		padding: 5px;
	}
}